link(rel="stylesheet", href="/view/css/signin.css")

.wrapper
    div(ng-cloak='')
        md-content
            md-tabs(md-dynamic-height='', md-border-bottom='')
                md-tab(label='Sign In')
                    form.simform
                        .sminputs
                            .input.full
                                label.string.optional Email*
                                input.string.optional(ng-model='dialog.input.signin.email', maxlength='120', placeholder='Email', type='email', size='50')
                        .sminputs
                            .input.full
                                label.string.optional Password*
                                input.string.optional(ng-model='dialog.input.signin.password', maxlength='255', placeholder='Password', type='password', size='50')
                        .simform__actions
                            .sumbit(ng-click='dialog.click.signin.submit()') Sign in
                            span.simform__actions-sidetext
                                a.special(role='link', href='#')
                                    | 비밀번호가 기억나지 않나요?
                    .logmod__alter
                        .logmod__alter-container
                            a.connect.facebook(href='#')
                                .connect__icon
                                    i.fa.fa-facebook
                                .connect__context
                                    span
                                        | Sign in with&nbsp;
                                        strong Facebook
                            a.connect.googleplus(href='#')
                                .connect__icon
                                    i.fa.fa-google-plus
                                .connect__context
                                    span
                                        | Sign in with&nbsp;
                                        strong Google+

                md-tab(label='Sign Up')
                    form.simform
                        .sminputs
                            .input.full
                                label.string.optional Email*
                                input.string.optional(ng-model='dialog.input.signup.email', maxlength='120', placeholder='Email', type='email', size='50')
                        .sminputs
                            .input.full
                                label.string.optional Name*
                                input.string.optional(ng-model='dialog.input.signup.user_name', maxlength='20', placeholder='Name', type='text', size='50')
                        .sminputs
                            .input.string.optional
                                label.string.optional Password*
                                input.string.optional(ng-model='dialog.input.signup.password', maxlength='255', placeholder='Password', type='Password', size='50')
                            .input.string.optional
                                label.string.optional Repeat password*
                                input.string.optional(ng-model='dialog.input.signup.passwordConfirm', maxlength='255', placeholder='Repeat password', type='Password', size='50')
                        .sminputs
                            .input.string.optional
                                label.string.optional Gender
                                md-select.md-no-underline(ng-model='dialog.input.signup.gender', placeholder='Gender', md-no-asterisk='false', style='margin : 0;')
                                    md-option(ng-repeat='gender in dialog.input.signup.dropdown.gender track by $index', value='{{gender}}') {{gender}}
                            .input.string.optional
                                label.string.optional Age
                                md-select.md-no-underline(ng-model='dialog.input.signup.age', placeholder='Age', md-no-asterisk='false', style='margin : 0;')
                                    md-option(ng-repeat='age in dialog.input.signup.dropdown.age track by $index', value='{{age}}') {{age}}
                        .simform__actions
                            .sumbit(ng-click='dialog.click.signup.submit()') Sign up
                            span.simform__actions-sidetext
                                | 계정 생성시 우리의&nbsp;
                                a.special(href='#', target='_blank', role='link') 약관
                                | 에
                                br
                                | 동의한 것으로 간주합니다.
