// Meta Information
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")

// Application Title
title Untitled

// Import Library(CSS)
link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
link(rel="stylesheet", href="{$ROOT}/libs/angular-material/angular-material.min.css")

// Import Library(JS)
script(src="{$ROOT}/libs/jquery/dist/jquery.min.js", requirejs="$ jQuery")
script(src="{$ROOT}/libs/angular/angular.min.js")
script(src="{$ROOT}/libs/angular-route/angular-route.min.js")
script(src="{$ROOT}/libs/angular-animate/angular-animate.min.js")
script(src="{$ROOT}/libs/angular-aria/angular-aria.min.js")
script(src="{$ROOT}/libs/angular-messages/angular-messages.min.js")
script(src="{$ROOT}/libs/angular-material/angular-material.min.js")

// Import Custom Library(JS)
script(src="{$ROOT}/components/js/angular.js")
script(src="{$ROOT}/components/js/prototype.js")

// Import Custom Library(CSS)
link(rel="stylesheet", href="{$ROOT}/components/css/custom.css")

// Latest compiled and minified CSS
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
// Optional theme
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
// Latest compiled and minified JavaScript
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')


link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')



// Sortablejs
//link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
script(src='http://rubaxa.github.io/Sortable/Sortable.js')
script(src='http://rubaxa.github.io/Sortable/Sortable.js?1')
script(src='http://rubaxa.github.io/Sortable/ng-sortable.js')